/* src/styles/palette.css */

:root {
  --background-color: #000000;
  --background-input: #ffffff;
  --text-color: #ffffff;
  --text-color-input: #000000;
  --text-secondary-color: #a0a0a0;
  --primary-color: #000000;
  --accent-color: #f97316;
  --accent-hover-color: #e85d04;
  --disabled-color: #444444;
  --success-color: #4caf50;
  --border-color: #a0a0a0;
}
