.execution-modal-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.execution-modal-content h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--text-color);
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--text-secondary-color);
}

.form-group select,
.form-group input {
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--background-input);
  color: var(--text-color-input);
  font-size: 1rem;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.form-group select:focus,
.form-group input:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px rgba(249, 115, 22, 0.2);
  outline: none;
}

.execution-modal-content .button-group {
  margin-top: 1.5rem;
  justify-content: flex-end;
}
